// main: '../app.scss'

.window-chrome{
    display: flex;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    -webkit-app-region:drag;
    z-index: 5000;
    background-color: white;
    z-index: 5000000;
    background-color: #0A0F34;

    .app-label{
        display: none;
        flex-direction: column;
        padding-left: 15px;
        justify-content: center;
        // flex-grow: 3;
        width: auto;
        // opacity: 0;
        font-weight: 500;
        text-align: left;
        font-size: 12px;
        text-transform: lowercase;
        color: white;
    }

    .window-controls{
        display: flex;
        flex-grow: 3;
        justify-content: flex-end;
        box-sizing: border-box;
        padding-right: 1px;

        .minimize,
        .maximize,
        .info,
        .close{
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            width: 45px;
            -webkit-app-region: no-drag;

            img{
                width: 16px;
                height: auto;
                opacity: 0.75;
                display: block;
                margin: 0 auto;
                filter: invert(100%);
            }
        }

        .close:hover{
            background-color: #E72525;
            transition: $transition;
            opacity: 0.9;
            img{
                filter: invert(100%);
                opacity: 0.85;
            }
        }
        .info:hover,
        .maximize:hover,
        .minimize:hover{
            transition: $transition;
            background-color: rgba(0,0,30,1);
        }
    }
}
